__pycache__
.vscode
.DS_Store
visgrid
gym-minigrid
*.pyc
*.pt
*.ckpt
*.pkl
*tfevents*
*mdps/lightning_logs/
lightning_logs/
*.db
.ipynb_checkpoints
*.zip
.onager
exp_results
*.png
jupyter.sh
tensorboard.sh
vis/
venv/
tests/
